.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #081b29;
    border-radius: 15px;
}

.box{
    position: relative;
    border-radius: 15px;
    background: repeating-conic-gradient(from var(--a),#37B7C3 0%,#37B7C3 5%,transparent 5% ,transparent 40% ,#37B7C3 50%);
    animation: animate 3s linear infinite;
    z-index: 1;
}
@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate
{
    0%
    {
        --a: 0deg
    }
    100%
    {
        --a: 360deg
    }
}

.box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: repeating-conic-gradient(from var(--a),#00abf0 0%,#00abf0 5%,transparent 5% ,transparent 40% ,#00abf0 50%);
    animation: animate 5s linear infinite;
    border-radius: 20px;
    z-index: -1;
}
.box::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: #081b29;
    border-radius: 15px;
    border:  1px solid #081b29;
    z-index: -1;
}